body{
  background-color: #b3fee3;
  font-size:20px;
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  font-family: 'Righteous', cursive;
}

div{
  margin-left: 35%;
}

img{
  border: 2px black solid;
}

#heading{
  font-family: 'Righteous', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#submit{
  font-size: 20px;
  padding: 15px;
  margin-left: 45%;
  margin-top: 20px;
}

#results{
  margin-left: : 470;
  margin-top: 20px;
  width: 450px;
  padding: 25px;
  border: 3px blue double;
  background-color: #00cdcd;
  text-align: center;
}
